<div class="form-group">
    <label for="car_brand">Car brand</label>
    <input required type="text" name="car_brand" id="car_brand" class="form-control">
</div>
<div class="form-group">
    <label for="car_model">Car model</label>
    <input required type="text" name="car_model" id="car_model" class="form-control">
</div>
<div class="form-group">
    <label for="car_age">Car age</label>
    <input required type="number" name="car_age" id="car_age" class="form-control">
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>
